<div data-controller="connexion" class="h-screen overflow-hidden">
  <header class="w-full fixed top-0 left-0 bg-white">
    <nav class="flex items-center border-b border-gray-100 py-5" data-connexion-target="navbar">
      <a href="#" class="flex items-center space-x-2">
        <%= image_tag('Logotech.png', alt: 'Logo', class: "h-12 w-12 rounded-full object=center") %>
        <h2>TECHSHELTER-KITCHEN</h2>
      </a>
      <%# <ul class="links" data-connexion-target="links">
        <span class="close-btn material-symbols-rounded"  data-connexion-target="closeBtnHeader">X</span>
      </ul>
      <button class="login-btn"  data-connexion-target="loginBtn" data-action="click->connexion#showPopup" >LOG IN</button> %>
    </nav>
  </header>


  <div class="w-full h-full pt-20"  data-connexion-target="formPopup">
    <%= render partial: "shared/login"%>
    <%= render partial: "shared/login_admin"%>
  </div>

</div>


<script >
  // const navbarMenu = document.querySelector(".navbar .links");
  // const hideMenuBtn = navbarMenu.querySelector(".close-btn");
  // const showPopupBtn = document.querySelector(".login-btn");
  // const formPopup = document.querySelector(".form-popup");
  // const hidePopupBtn = formPopup.querySelector(".close-btn");
  // const signupLoginLink = formPopup.querySelectorAll(".bottom-link a");
  // //Show login popup
  // showPopupBtn.addEventListener("click", () => {
  //   document.body.classList.toggle("show-popup");
  // });

  // // Hide login popup
  // hidePopupBtn.addEventListener("click", () => showPopupBtn.click());


  // // Show or hide signup form
  // signupLoginLink.forEach((link) => {
  //   link.addEventListener("click", (e) => {
  //     e.preventDefault();
  //     formPopup.classList[link.id === "signup-link" ? "add" : "remove"](
  //       "show-signup"
  //     );
  //   });
  // });

  // document.addEventListener('DOMContentLoaded',function() {

  //   var flashNotice = document.getElementById('flashNotice');
  //   flashNotice.style.display = 'block';

  //   setTimeout(function(){
  //     flashNotice.style.display = 'none';
  //   }, 2000);
  // });


</script>
